
.btnCadSalvar{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    width: 8vw;
    height: 2.5vw;
    background: red;
    top: 70%;
    left: -2%;
    font-size: 1.25vw;
    color: #fff;
}

.btnFuncAdmin{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    width: 250px;
    height: 130px;
    background: red;
    text-align: justify;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 19px;
    left: -20vw;
    color: #fff; 
}

.btnCadVoltar{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    width: 8vw;
    height: 2.5vw;
    background: red;
    top: 70%;
    left: 46%;
    font-size: 1.25vw;
    color: #fff;
}

.btnLoginAdmin{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    width: auto;
    height: auto;
    background-color: red;
    top: 70%;
    font-size: 0.90vw;
    color: #fff;
    left: 3.5%;
}

.btnVerProduto{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    width: auto;
    height: 2.25vw;
    background: red;
    top: 70%;
    left: 5%;
    font-size: 1.25vw;
    color: #fff;
}

.btnComprarProduto{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    width: auto;
    height: 2.25vw;
    background: red;
    top: 70%;
    left: 6%;
    font-size: 1.25vw;
    color: #fff;
}
/*----------------------------- Final CSS Botões -----------------------------*/

#logoTop img{
    position: absolute;
    height: 70px;
    width: 200px;
    left: 100px;
    top: 50px;
}

#logoIndex{
    height: 240px;
    margin-left: 110px;
    margin-top: -180px;
    margin-bottom: 30px;
}

#logoIndexAdmin{
    height: 240px;
    margin-left: 410px;
    margin-top: -180px;
    margin-bottom: 30px;
}

#imagemCentral{
    width: 1800px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#logoCadasroProdutos{
    height: 240px;
    margin-left: 350px;
    margin-top: -180px;
    margin-bottom: 30px;
}

#imagemCentro{
    height: 240px;
    margin-left: 350px;
    margin-bottom: 30px;
}

.imgDetalhesProduto{
    margin-left: 5%;
}

#imagemCentroLogin{
    position: absolute;
    height: 120px;
    margin-left: 175px;
    left: 26%;
    top: 5vw;
}

/*----------------------------- Final CSS Imagens -----------------------------*/

.camposCadastro{
    position: relative;
    left:45%;
    top: 30%;
    margin-bottom: 5%;
    color: white;
    font-size: 0.85vw;
}

#camposCadastroCliente{
    position: relative;
    top: 15%;
    left: 44.5%;
    color: white;
    font-size: 0.85vw;
    text-decoration: none;
}

#fraseTopLogin{
    position: relative;
    font-size: 1.2vw;
    color: #fff;
    left: 20%;
}
#textoLateralLogin{
    position: absolute;
    left: 75%;
    top: 40%;
    color: white;
    font-size: 0.85vw;
}
#camposLogin{
    position: relative;
    left:44.5%;
    margin-bottom: 5%;
    color: white;
    font-size: 0.85vw;
}

.textoProduto{
    font-size: 30px;
    margin-left: 5%;
    color: red;
}

#finalizacaoProduto{
    position: absolute;
    text-align: center;
    margin-right: 5%;
    left: 70%;
    top: 0;
    margin-top: 5%;
}

.spinnerQtde{
    margin-left: -50%;
}

.detalhesProduto{
    position: relative;
    left:5%;
    margin-bottom: 5%;
    color: white;
    font-size: 0.85vw;
}

.precoProduto{
    font-size: 50px;
    margin-left: 8%;
    color: red;
}

.tituloProdutos{
    font-size: 30px;
    margin-left: 8vw;
    color: white;
}

.comandosProdutos{
    left: -20px;
    right: 45px;
}

.textoIndex{
    font-size: 60px;
    text-align: center;
    margin-left: 210px;
    color: red;
}

#textoLoginCliente{
    font-size: 60px;
    text-align: center;
    margin-left: 150px;
    color: red;
}

#textoCadastroProdutos{
    font-size: 60px;
    text-align: center;
    margin-left: 310px;
    color: red;
}

.tituloBottom{
    color: white;
    font-weight: bold;
    text-align: center;
}

.textoVermelho{
    color: red;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
    font-size: 43px;
}

.tituloTopo{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
    font-size: 43px;
}

#nomeProdutos{
    margin-top: 3%;
    margin-left: 3%;
}

#coisinhaDoProduto{
    position: relative;
    align-content: center;
    text-align: center;
    width: 100%;
    margin-top: -15%;
    margin-bottom: 5%;
}
/*----------------------------- Final CSS Textos -----------------------------*/

form .tabelaVisaoGeral{
    color: black;
    background-color: #AFAFAF;
}
/*----------------------------- Final CSS Tabelas -----------------------------*/
#index{
    color: red;
    background-color: #333436;
}

#top {
    position: relative;
    background-color: black;
    padding: 70px;
    bottom: 5%;
    text-align: center;
    height: 8.5vh;
}

#bottom {
    position: relative;
    background-color: black;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    color: white;
    bottom: 0;
    text-align: center;
}

.center_content {
    position: relative;
    background-color: #333436;
    padding: 5px;
}

.left_content {
    background-color: #333436;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #333436;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: red;
  font-weight : bold;
  text-decoration : underline;
}